{% extends "base.html" %}

{% block content %}
<h2 class="title">Beginner Cybersecurity Path 🚀</h2>

<div class="card-container">

    <div class="card">
        <h3>📘 What is Cybersecurity?</h3>
        <p>Introduction to cyber threats, hackers, and security basics.</p>
        <a href="https://youtu.be/inWWhr5tnEA?si=Dep_Ni8458n3gpwv" target="_blank">Start Learning</a>
    </div>

    <div class="card">
        <h3>🌐 Networking Basics</h3>
        <p>Learn IP, DNS, TCP/IP, ports and protocols.</p>
        <a href="https://youtu.be/bj-Yfakjllc?si=MmsaIQ3UItWqeu9d" target="_blank">Learn Networking</a>
    </div>

    <div class="card">
        <h3>💻 Linux Basics</h3>
        <p>Linux commands and terminal usage for security professionals.</p>
        <a href="https://youtu.be/sWbUDq4S6Y8?si=egPGDh8mx4UjSAqx" target="_blank">Linux Course</a>
    </div>

    <div class="card">
        <h3>🐍 Python Basics</h3>
        <p>Python for automation and cybersecurity scripting.</p>
        <a href="https://youtu.be/4pe1fn3Gus0?si=0gD_4ubIO9ITVHus" target="_blank">Learn Python</a>
    </div>

    <div class="card">
        <h3>📄 Beginner PDFs</h3>
        <p>Download cybersecurity beginner notes and guides.</p>
        <a href="https://www.google.com/search?q=cyber+security+beginner+pdf" target="_blank">Get PDFs</a>
    </div>

</div>
{% endblock %}
