{% extends "base.html" %}

{% block content %}
<h2>Intermediate Cybersecurity Level 🛠️</h2>
<p>Now you move from basics → real security tools and attacks.</p>

<div class="card-container">

    <div class="card">
        <h3>🔎 Nmap</h3>
        <p>Network scanning tool used to discover hosts, ports, and services.</p>
        <a href="https://youtu.be/4t4kBkMsDbQ?si=Uv5nKPcvbGI4m1rg" target="_blank">Learn Nmap</a>
    </div>

    <div class="card">
        <h3>🕵️ Wireshark</h3>
        <p>Packet analyzer to capture and inspect network traffic.</p>
        <a href="https://youtu.be/qTaOZrDnMzQ?si=6tdIJSa6S25DmRBh" target="_blank">Learn Wireshark</a>
    </div>

    <div class="card">
        <h3>🛡 Burp Suite</h3>
        <p>Web security testing tool for intercepting and analyzing HTTP requests.</p>
        <a href="https://youtu.be/hY_gzrTMn3U?si=NzyABH8-2IihshdW" target="_blank">Learn Burp Suite</a>
    </div>

    <div class="card">
        <h3>🌐 OWASP Top 10</h3>
        <p>Most critical web application security risks you must know.</p>
        <a href="https://youtu.be/J5PD2Uo9kj8?si=hINMe4uMZrc0-DrS" target="_blank">Study OWASP</a>
    </div>

    <div class="card">
        <h3>🐚 Linux for Hackers</h3>
        <p>Advanced terminal commands and penetration testing environment.</p>
        <a href="https://youtu.be/AnwgxRtWXLI?si=POycFnbWicvlXzKf" target="_blank">Learn Kali Linux</a>
    </div>

</div>
{% endblock %}
